<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsk.zx.person.mapper.JskPersonTrancsferDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jsk.zx.person.model.JskPersonTransferDetail" >
    <id column="PK_ID" property="pkId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="MONEY" property="money" jdbcType="FLOAT" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR"/>
    <result column="transfer_name" property="transferName" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List" >
    PK_ID, USER_ID, MONEY, TYPE, CREATE_TIME, ORDER_ID, transfer_name
  </sql>
  
  
  <select id="selectPersonTrancsferDetail" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jsk_person_transfer_detail
    where USER_ID = #{userId,jdbcType=INTEGER}
    and TYPE = 2
  </select>
  <select id="findByTrancsferDetail" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List" />
    from jsk_person_transfer_detail
    where PK_ID = #{pkId,jdbcType=INTEGER}
  </select>
  
  <insert id="savsePersonTrancsferDetail" parameterType="com.jsk.zx.person.model.JskPersonTransferDetail">
    insert into jsk_person_transfer_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="orderId != null">
      	ORDER_ID,
      </if>
      <if test="transferName != null">
      	transfer_name
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        #{money,jdbcType=REAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
      	#{orderId, jdbcType=VARCHAR},
      </if>
      <if test="transferName != null">
      	#{transferName, jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <select id="selectPersonTrancsferDetailByType" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from jsk_person_transfer_detail
    where TYPE = 1
  </select>
  <update id="updateTrancsferDetailType" parameterType="Map">
  	update jsk_person_transfer_detail set type = #{type,jdbcType=VARCHAR}, create_time = now() where pk_id = #{userId, jdbcType=INTEGER}
  </update>

</mapper>