<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsk.zx.sys.index.mapper.IJskIndexNewsMapper" >
  <resultMap id="BaseResultMap" type="com.jsk.zx.index.model.JskIndexNews" >
    <id column="PK_ID" property="pkId" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="PHOTO" property="photo" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK_ID, TITLE, SUMMARY, CONTENT, TYPE, PHOTO, STATUS, CREATE_TIME, CREATE_ID, UPDATE_TIME, 
    UPDATE_ID
  </sql>
  <select id="findList" resultMap="BaseResultMap">
	select 
    <include refid="Base_Column_List" />
	from jsk_index_news
	order by create_time desc
  </select>
  
  <select id="edit" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from jsk_index_news
	where pk_id=#{pkId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from jsk_index_news
    where PK_ID = #{pkId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.jsk.zx.index.model.JskIndexNews" >
  	<selectKey keyProperty="pkId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into jsk_index_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="summary != null" >
        SUMMARY,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="photo != null" >
        PHOTO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.jsk.zx.index.model.JskIndexNews" >
    update jsk_index_news
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        SUMMARY = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        PHOTO = #{photo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=INTEGER},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=INTEGER}
  </update>
</mapper>