<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsk.zx.sys.index.mapper.IJskIndexProductMapper" >
  <resultMap id="BaseResultMap" type="com.jsk.zx.sys.index.model.JskSysIndexProduct" >
    <id column="PK_ID" property="pkId" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="PHOTO" property="photo" jdbcType="INTEGER" />
    <result column="PRICE" property="price" jdbcType="REAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="PRAISE_NUM" property="praiseNum" jdbcType="INTEGER" />
    <result column="COMMENT_NUM" property="commentNum" jdbcType="INTEGER" />
    <result column="TOTAL_NUM" property="totalNum" jdbcType="INTEGER" />
    <result column="SALE_NUM" property="saleNum" jdbcType="INTEGER" />
    <result column="STANDARD_ID" property="standardId" jdbcType="INTEGER" />
    <result column="SEASON" property="season" jdbcType="VARCHAR" />
    <result column="VOLUME" property="volume" jdbcType="VARCHAR" />
    <result column="BHMZ_TYPE" property="bhmzType" jdbcType="VARCHAR" />
    <result column="WSHL_TYPE" property="wshlType" jdbcType="VARCHAR" />
    <result column="IN_TIME" property="inTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="BRAND_NAME" property="brandName" jdbcType="VARCHAR" />
    <result column="SUNSCREEN" property="sunscreen" jdbcType="VARCHAR" />
    <result column="EFFECT" property="effect" jdbcType="VARCHAR" />
    <result column="SUIT_SKIN" property="suitSkin" jdbcType="VARCHAR" />
    <result column="IS_SPECIAL" property="isSpecial" jdbcType="OTHER" />
    <result column="IS_RECOMMEND" property="isRecommend" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK_ID, TITLE, SUMMARY, CONTENT, TYPE, PHOTO, PRICE, STATUS, PRAISE_NUM, COMMENT_NUM, 
    TOTAL_NUM, SALE_NUM, STANDARD_ID, SEASON, VOLUME, BHMZ_TYPE, WSHL_TYPE, IN_TIME, 
    CREATE_DATE, BRAND_NAME, SUNSCREEN, EFFECT, SUIT_SKIN, IS_SPECIAL, CREATE_TIME, CREATE_ID, 
    UPDATE_TIME, UPDATE_ID, IS_RECOMMEND
  </sql>
  <select id="findList" resultMap="BaseResultMap">
	select 
    <include refid="Base_Column_List" />
	from JSK_INDEX_PRODUCT
	<include refid="where"/>
	order by create_time desc
  </select>
  
  <select id="edit" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from JSK_INDEX_PRODUCT
	where pk_id=#{pkId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from JSK_INDEX_PRODUCT
    where PK_ID = #{pkId,jdbcType=INTEGER}
  </delete>
  
 <insert id="insert" parameterType="com.jsk.zx.sys.index.model.JskSysIndexProduct" >
 	<selectKey keyProperty="pkId" order="AFTER" resultType="java.lang.Integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into JSK_INDEX_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="summary != null" >
        SUMMARY,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="photo != null" >
        PHOTO,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="praiseNum != null" >
        PRAISE_NUM,
      </if>
      <if test="commentNum != null" >
        COMMENT_NUM,
      </if>
      <if test="totalNum != null" >
        TOTAL_NUM,
      </if>
      <if test="saleNum != null" >
        SALE_NUM,
      </if>
      <if test="standardId != null" >
        STANDARD_ID,
      </if>
      <if test="season != null" >
        SEASON,
      </if>
      <if test="volume != null" >
        VOLUME,
      </if>
      <if test="bhmzType != null" >
        BHMZ_TYPE,
      </if>
      <if test="wshlType != null" >
        WSHL_TYPE,
      </if>
      <if test="inTime != null" >
        IN_TIME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="brandName != null" >
        BRAND_NAME,
      </if>
      <if test="sunscreen != null" >
        SUNSCREEN,
      </if>
      <if test="effect != null" >
        EFFECT,
      </if>
      <if test="suitSkin != null" >
        SUIT_SKIN,
      </if>
      <if test="isSpecial != null" >
        IS_SPECIAL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateId != null" >
        UPDATE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="praiseNum != null" >
        #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="standardId != null" >
        #{standardId,jdbcType=INTEGER},
      </if>
      <if test="season != null" >
        #{season,jdbcType=VARCHAR},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=VARCHAR},
      </if>
      <if test="bhmzType != null" >
        #{bhmzType,jdbcType=VARCHAR},
      </if>
      <if test="wshlType != null" >
        #{wshlType,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="sunscreen != null" >
        #{sunscreen,jdbcType=VARCHAR},
      </if>
      <if test="effect != null" >
        #{effect,jdbcType=VARCHAR},
      </if>
      <if test="suitSkin != null" >
        #{suitSkin,jdbcType=VARCHAR},
      </if>
      <if test="isSpecial != null" >
        #{isSpecial,jdbcType=OTHER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.jsk.zx.sys.index.model.JskSysIndexProduct" >
    update JSK_INDEX_PRODUCT
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        SUMMARY = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{status,jdbcType=FLOAT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=INTEGER},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=INTEGER}
  </update>
  <sql id="where">
  	where 1=1
  	<if test="status!=null and status!=''">
  		and status = #{status,jdbcType=VARCHAR}
  	</if>
  	<if test="title!=null and title!=''">
  		and title = #{title,jdbcType=VARCHAR}
  	</if>
  </sql>
</mapper>